@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "./functions/functions.scss";

$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$drayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

* {
    font-size: toRem(15);
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

.qr {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__contener {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        background-color: $white;
        border-radius: 3%;
        padding: 20px 10px;
    }

    &__qr-picture {
        width: 90%;
        border-radius: 3%;
    }

    &__header {
        font-weight: 700;
        color: $darkBlue;
        padding: 10px 30px 0px;
        text-align: center;
        font-size: toRem(20);
    }

    &__description {
        margin-top: 0px;
        font-weight: 400;
        color: $drayishBlue;
        padding: 0 30px 10px;
        text-align: center;
    }
}

.attribution {
    color: $darkBlue;
    padding: 20px;
    text-align: center;

    &__link {
        color: $darkBlue;
        text-decoration: none;
    }
}

@media (max-width:400px) {

    .qr {
        padding: 20px 10px;
        width: 90%;

        &__qr-picture {
            width: 90%;
            border-radius: 3%;
        }

        &__header {
            padding: 10px 10px;
            font-weight: 700;
            color: $darkBlue;
        }

        &__description {
            padding: 0 10px 10px;
            font-weight: 400;
            color: $drayishBlue;
        }
    }

}